@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding: 0;
}
.app{
  background-color: rgb(22, 22, 40);
  height:900px;

}

.header{
  margin-top: 10px;
  background-color:  rgb(22, 22, 40);
}
.search{
  height:100px;
  display: flex;
 justify-content: center;
 align-items: center;
 color: white;
 font-size: 20px;
text-align: center;
font-family: 'Poppins', sans-serif;
}
.searchinput{


}
.button{
  background-color: rgb(75, 45, 103);
  border-radius: 50px;
    padding:5px;
    padding-bottom: 10px;
    font-size:medium;
    text-decoration: none;
    color:white;
    width:160px;     
    font-family: 'Poppins', sans-serif;
    margin-left: 50px;
    font-weight: 500;
    box-shadow: 0px opx 5px rgb(51, 23, 77) ;
    
}
.button:hover{
    background-color: rgb(89, 56, 120);

   
}
.movieitem{
  margin-top: 30px;
  color:white;
}
.movimg:hover
{
  transform: scale(1.1) translateY(-20px); 
}

